.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    transition: transform 0.3s ease;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
   
}

.sidebar ul li {
    padding: 0px 50px 0px 0px; /* Atas 10px, kanan 20px, bawah 30px, kiri 40px */
    cursor: pointer;
    font-size: 20px;
}

.sidebar li:hover {
    color: #000000;
}
.profile-section {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    margin-bottom: 20px;
}
.sidebar .profile-section h1 {
    margin-bottom: 10px; /* Jarak bawah dari teks h1 */
    position: relative;
    display: inline-block;
  }
  
  .sidebar .profile-section h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Ketebalan garis */
    background-color: #fff; /* Warna garis */
    position: absolute;
    bottom: -5px; /* Jarak garis dari teks h1 */
    left: 0;
  }
  
.sidebar ul li a {
    font-weight: bold;
    color: #ffffff; /* Ubah sesuai dengan warna yang diinginkan */
    text-decoration: none;
}
.sidebar ul li:hover,
.sidebar ul li a:hover {
    color: #000000;
}

@media (max-width: 500px) {
    .sidebar {
        width: 0;
        overflow: hidden;
    }

    .sidebar.open {
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        transition: width 0.3s ease-in-out;
    }

    .sidebar.open .sidebar--logo {
        margin-top: 3rem;
    }

    .sidebar-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        width: 50px;
        height: 30px;
        border-radius: 4px;
        background: #eee;
        color: #000000;
        position: absolute;
        z-index: 2;
        margin: 10px 5px; /* Fixed typo here */
        cursor: pointer;
}
}
  